<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>handle me inc.</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />

  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/main.css">
</head>

<body>

  <script id="handlebars-app" type="text/x-handlebars-template">
    <header class="info">
      <h1>{{ title }} | <small> {{ today }}</small></h1>
      
      <section>
        <p>Мудрость на сегодня: {{ quote }}</p>
      </section>
    </header>
    
    <main class="container"></main>
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.js"></script>
  <script src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script type="text/babel" src="./js/ArticlesViewer.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

  <script src="./js/articles.js"></script>
  <script src="./js/application.js"></script>
  <script type="text/babel">
    ReactDOM.render(
      <ArticlesViewer articles={articles}/>,
      document.querySelector('main.container')
    )
  </script>
</body>

</html>